parameters:
    bootstrapFiles:
        - _ide_helper_models.php
    level: 6

    paths:
        - app
        - database
        - tests

    excludePaths:
        - app/Http/Middleware/Authenticate.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
